<div class = "content" >
<h3>宅配図書館トップ</h3>


<p class = "p3">▽about Delibook▽</p>
<p>
・図書館の本をデリバリーできるシステムです。</br>
・「せっかく図書館に来たのに借りたい本がない！」ということを無くす目的があったりなかったりします。</br>
</p>
<p class = "p3">▽ point ▽</p>
<p>
・本の一覧が見たいときは、検索フォームが空の状態で検索ボタンを押してください。</br>
・図書館に所蔵されている本はすべて架空のものになります（つっこみどころ多いので気にしないでね）
</p>
</div>