<h2>貸出一覧画面--RentalControllerのindex</h2>
<p>貸出中の本や貸出申請後の許可待ち・配達待機中の本のリストです。</p>
<% if @rentals.present? %>
  <% count = 0 %>
  <% @rentals.each do |rental| %>
  <% count = count + 1 %>
    <table>
    <tr>
      <th>No.</th>
      <th>タイトル</th>
      <th>本ID</th>
      <th>在庫数</th>
      <th>状態</th>
    </tr>
    <tr>
      <td><%= count %></td>
      <td><%= link_to rental.book.name, book_path(rental.book), class: "a2"  %></td>
      <td><%= rental.book_id %></td>
      <td><%= defzaiko(rental.book) %></td>
      <% if rental.is_delivered %>
        <td>貸出し済み</td>
      <% else %>
        <td>待機中</td>
      <% end %>
    </tr>
    </table>
  <% end %>
<% else %>
  <p>貸出はありません</p>
<% end %>