/*
 *= require_tree .
 *= require_self
 */

body {
  color: #978d86;
  background-color: #f6e5d7;
  margin: 0;
  padding: 5;
}

/* --submitbutton-- */
.submit_button {
  color: #ffc530;
  background-color: #978d86;
  text-align: center;
  display: block; 
  font-weight: 500;
  font-size: 100%;
  padding: 5px 30px;
  margin: 5px 2px;
  border: 2px dashed #ffc530;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
}
.submit_button:hover {
  color: #ed8d49;
  border-color: #ed8d49;
}
.submit_button2 {
  color: #ffffff;
  background-color: #ed8d49;
  text-align: center;
  display: block; 
  font-weight: 500;
  font-size: 100%;
  padding: 5px 30px;
  margin: 5px 0px;
  border-radius: 10px;
  border: none;
}
.submit_button2:hover {
  color: #ffffff;
  background-color: #ffc530; 
}
/* ---------------- */
/* ----- link ----- */
a {
  color: #978d86;
  padding-left: 45px;
  text-decoration: none;
}
a:hover {
  color: #73d0c2;
  text-decoration: underline;
}
.a4 {
  color: #f6e5d7;
}
/* ---------------- */
/* table member_form */
.member_form {
  margin 10px;
}
.member_form td{
  padding: 3px 10px;
}
.member_form th {
  text-align: left;
}
.admin_chck {
  padding: 10px;
}
/* ---------------- */
/* table member_body */
.members_body {
  margin 10px;
}
.members_body td{
  padding: 3px 10px;
}
.members_body th {
  text-align: left;
}
/* ---------------- */
.book_show {
  
  font-weight: 
}
.book_show td{
  padding: 5px;
}
.book_show th {
  text-align: left;
  padding-top: 3px;
  padding-left: 20px;
}


h3{
  margin: 0px;
  width: 400px;
}
h3:first-letter {
  color: #ed8d49;
}
/* ---------------- */
p.book_show {
  margin: 10px 20px;
}




