/*
 *= require_tree .
 *= require_self
 */
body {
  color: #330000;
  margin: 0;
  padding: 5;
}

/* --submitbutton-- */
.submit_button {
  color: #ff0066;
  background-color: rgba(51, 0, 0, 0.7);
  text-align: center;
  display: block; 
  font-weight: 500;
  font-size: 100%;
  padding: 5px 30px;
  margin: 5px 0px;
  border-radius: 10px;
  border: none;
}
.submit_button:hover {
  color: #330000;
  background-color: rgba(256, 256, 256, 0.5); 
}
.submit_button2 {
  color: #ff0066;
  background-color: rgb(51, 0, 0);
  text-align: center;
  display: block; 
  font-weight: 500;
  font-size: 100%;
  padding: 5px 30px;
  margin: 5px 0px;
  border-radius: 10px;
  border: none;
}
.submit_button2:hover {
  color: #330000;
  background-color: rgba(256, 0, 103, 0.8); 
}
/* ---------------- */
/* ----- link ----- */
a {
  color: #330000;
  padding-left: 10px;
  text-decoration: none;
}
a:hover {
  color: rgba(256, 256, 256, 0.8);
  text-decoration: underline;
}
#book_add {
  color: #ff0066;
  background-color: rgba(51, 0, 0, 0.7);
  text-align: center;
  display: block; 
  font-weight: 500;
  font-size: 100%;
  padding: 20px 35px;
  margin-left: 10px; 
  border-radius: 10px;
  border: none;
}
#book_add:hover {
  color: #330000;
  background-color: rgba(256, 256, 256, 0.5); 
}
/* ---------------- */
/* table member_form */
.member_form {
  margin: 10px;
}
.member_form td{
  padding: 3px 10px;
}
.member_form th {
  text-align: left;
}
.admin_chck {
  padding: 10px;
}
/* ---------------- */
/* table member_body */
.members_body {
  margin 10px;
}
.members_body td{
  padding: 3px 10px;
}
.members_body th {
  text-align: left;
}
/* ---------------- */
.book_show {
  margin 10px;
}
.book_show td{
  padding: 5px;
}
.book_show th {
  text-align: left;
  padding-top: 3px;
  padding-left: 20px;
}
/* book_form */
.author_td {
  width: 90px;
}
.book_form {
  margin: 10px;
}
.book_form td{
  padding: 3px 10px;
}
.book_form th {
  text-align: left;
}
/* ------------- */
h3{
  margin: 0px;
  width: 400px;
}
h3:first-letter {
  color: #ff0066;
}
/* ---------------- */
p.book_show {
  margin: 10px 20px;
}


