/* ----header---- */
div#header {
  color: #ffffff;
  background-color:#73d0c2;
  height: 50px;
  padding: 1%;	
}
h1{
  margin: 0px;
}
h1:first-letter {
  color: #ed8d49;
  /*color: #ed8d49;*/
  font-size: 125%;
}
/* -------------- */
