/* ----login----- */
#login_form {
  background-color: #73d0c2;
  padding: 10px 25px;
  margin: 10px;
  
}
#login {
  padding-left: 10px;
  margin: 10px 0px;
}
.login_button {
  color: #ffffff;
  background-color: #73d0c2; 
  text-align: center;
  display: block; 
  font-weight: 500;
  font-size: 100%;
  padding: 5px 20px;
  margin: 5px 2px;
  border: 2px dashed #fff;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
}

.login_button:hover {
  color: #978d86;
  border-color: #978d86;
}