/* ページネーション */
div.pagination {
  font-size: 75%;
  padding: 4px 8px;
  margin: 10px 0px;
  width: 800px;
  word-spacing: 8px;

  em { font-style: normal; }
  em.current {
    color: #ed8d49;
    font-weight: bold;
  }
}
.next_page {
  color: #978d86;
}
