/* ---sidebar--- */
div#sidebar {
  color: #ffffff;
  background-color: #978d86;
  float: right;
  height: 500px; width: 185px;
}
#membername {
  padding-left: 10px;
}
#newmember {
  color: #ffffff;
  background-color: #ed8d49;
  width: 165px;
  text-align: center;
  display: block; 
  font-weight: 500;
  border-radius: 10px;
  border: none;
  padding: 2px 0px;
  margin: 0px 10px;
  font-size: 100%;
}
#newmember:hover {
  color: #ed8d49;
  background-color: rgba(256, 256, 256, 0.5); 
}
/* -------------- */
